* {
    --maincolor1: #0F151A;
    --maincolor2: #161F27;
    --maincolor3: #1D2A34;
    --maincolor4: #253541;
    --maincolor5: #2D3F4E;
    --faintblack1: rgba(0, 0, 0, 0.1);
    --faintblack2: rgba(0, 0, 0, 0.2);
    --faintblack3: rgba(0, 0, 0, 0.3);
    --faintblack4: rgba(0, 0, 0, 0.4);
    --faintblack5: rgba(0, 0, 0, 0.5);
    --faintwhite1: rgba(255, 255, 255, 0.1);
    --faintwhite2: rgba(255, 255, 255, 0.2);
    --faintwhite3: rgba(255, 255, 255, 0.3);
    --faintwhite4: rgba(255, 255, 255, 0.4);
    --faintwhite5: rgba(255, 255, 255, 0.5);
    --faintwhite8: rgba(255, 255, 255, 0.8);

    font-family: roboto;
}

@media screen and (max-width:500px) {
    body {
        padding: 0px;
        margin: 0px;
        height: 100vh;
    }

    nav {
        height: 50px;
        width: 100%;
        /* background-color: var(--maincolor3); */
        border-bottom: solid 1px var(--faintblack1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main {
        height: calc(100% - 90px);
        width: 100%;
    }

    .displaySection{
        height: 100%;
        width: calc(100% -6px);
        padding: 3px;
    }

    #homeSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% -10px);
        padding: 5px;
    }

    .section1{
        display: flex;
        width: 100%;
        /* align-items: center; */
        /* justify-content: center; */
        flex-direction: column;
    }

    .section1Img1{
        width: 50%;
        border-radius: 10px;
    }

    .section1heading1{
        width: calc(100% );
        /* padding-left: 5px; */
        border-bottom: solid 1px var(--faintblack2);
        font-size: 17px;
        border-top: solid 1px var(--faintblack2);
        margin-top: 10px;
        font-weight: 500;
    }





















  

    .logoDiv {
        margin-left: 5px;
        height: 40px;
        width: 40px;
    }

    .logo {
        height: 40px;
        width: 40px;
        border-radius: 3px;
    }

    .navButtons {
        margin-right: 5px;
        display: flex;
    }

    .navIcon {
        height: 35PX;
        aspect-ratio: 1/1;
        background: transparent;
        border: none;
    }

    .navIcon>img {
        height: 100%;
        width: 100%;
    }

    .searchDiv {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        /* background-color: var(--maincolor3); */
        height: 48px;
        background-color: white;
        width: 100%;
        /* border-bottom: solid 1px var(--faintblack1); */
        justify-content: space-between;
        animation: navSlide 0.5s;
        align-items: center;
    }

    .searchSubDiv {
        display: flex;
        width: calc(100% - 45px);
        border-radius: 20px;
        margin-right: 5px;
        border: none;
        justify-content: center;
        align-items: center;
        background-color: var(--faintblack1);

    }

    @keyframes navSlide {
        0% {
            width: 40px;
        }

        100% {
            width: 100%;
        }

    }

    .returnNav {
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border-radius: 50%;
        margin-left: 3px;
        border: none;
    }

    .returnNav:active {
        background: var(--faintwhite1);
    }

    .returnNav>img {
        height: 30px;
        width: 30px;
    }

    .searchInput {
        height: 35px;
        width: calc(100% - 30px);
        border-right: solid 1px var(--faintwhite1);
        border-top: none;
        border-bottom: none;
        border-left: none;
        padding: 0px;
        border-radius: 20px 0px 0px 20px;
        padding-left: 10px;
        padding-right: 5px;
        outline: none;
        background-color: var(--faintwhite1);
        /* color: white; */
        font-size: 14px;
    }

    .clearInput {
        height: 35px;
        width: 35px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
        background-color: var(--faintwhite1);
    }

    .clearInputBtn {
        height: 18px;
    }

    .menu {
        position: fixed;
        top: 50px;
        left: 0px;
        width: 100%;
        height: calc(100% - 110px);
        display: none;
        /* background-color: var(--faintblack1); */
        /* animation: menuSlide 1s; */

    }

    .menu>div {
       
    }

    @keyframes menuSlide {

        0% {
            margin-left: -65%;
        }

        100% {
            margin-left: 0%;
        }
    }


    @keyframes reverseMenuSlide {

        0% {

            left: 0px;
        }

        100% {

            left: -65%;
        }
    }

    .menuSubDiv{
        /* color: white; */
        padding: 10px;
        background-color: white;
        box-shadow: 4px 0px 10px 0px var(--faintblack1);
        /* background-color: var(--maincolor4); */
        width: 65%;
        max-width: 200px;
        padding: 4px;
        height: 100vh;
        z-index: 400;
        overflow-y: scroll;
    }

    .closeMenuSpace{
        width: 50%;
        height: 100%;
        background: transparent;
        padding: 4px;
        filter: blur(0px);
    }

    .menuSubDiv>a{
        /* color: white; */
        text-decoration: none;
    }

    .menuLinksDiv{
        /* margin-bottom: -20px; */
    }

    .menuLinksDiv>a{
        color: black;
        text-decoration: none;
        /* text-align: center; */
        
    }

    .menuLinksDiv>a>div{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        font-weight: 500;
        border-bottom: solid  1px var(--faintwhite2);

    }

    .menuLinksDiv>a>div:active{
        background-color: var(--faintblack4);
    }

    .menuTools{
        height: 35px;
        overflow: hidden;
    }

    .menuTools:active{
        /* height: fit-content; */
    }

    
    
    .toolslinks{
        margin-left: -10px;
    }

    .toolslinks>ul{
        margin-top: 0px;
        padding-top: 2px;
    }

    .toolslinks>ul>a{
        
        color:var(--faintblack7);
        text-decoration: none;
    }

    .toolsHead{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        font-weight: 500;
        font-size: 16px;
        border-bottom: solid  1px var(--faintwhite2);
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .toolsHead:active{
        /* background-color: var(--maincolor5); */
    }

    .menuDropdown{
        height:20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
    }

    .menuDropdownImg{
        height: 19px;
        rotate: 270deg;
        
    }

    .toolslinks>ul>a:active{
        background-color: var(--maincolor5);
    }

    footer {
        height: 50px;
        width: 100%;
        background-color: var(--maincolor3);
        position: fixed;
        bottom: 0px;
        left: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 3px;
    }

    .footerIcon {
        font-weight: 500;
        color: white;
        height: 40px;
        width: 40px;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }

    .profileIcon {
        padding-top: 3px;
        padding-bottom: 5px;
        height: 23px;
    }

    .footerImg {
        height: 30px;
        width: 30px;
    }

    .footerIcon>img {
        /* height: 30px;
        width: 30px; */
    }


}